<!-- navigation -->
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- navbar brand/logo -->
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
        {{ partial "logo.html" . }}
      </a>

      <!-- navbar toggler -->
      <button aria-label="navbar toggler" class="navbar-toggler border-0 h4 mb-0 p-0 shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" stroke-width="1.4" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <line x1="4" y1="6" x2="20" y2="6"></line>
          <line x1="4" y1="12" x2="20" y2="12"></line>
          <line x1="4" y1="18" x2="20" y2="18"></line>
        </svg>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ms-auto">
          <!-- menu active -->
          {{ $currentPage := . }}
          {{ range site.Menus.main }}
          {{ $menuURL := .URL | absLangURL }}
          {{ $pageURL:= $currentPage.Permalink | absLangURL }}
          {{ $active := eq $menuURL $pageURL }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown {{if .Params.isMenuLarge}}dropdown-lg {{end}}
          {{- range .Children -}}
          {{- $childURL := .URL | absLangURL -}}
          {{- $active := eq $childURL $pageURL -}}
          {{- if $active }}active{{ end -}}
          {{- end -}}">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ .Name }}
            </a>
            <ul class="dropdown-menu">
              {{ range .Children }}
              {{ $childURL := .URL | absLangURL }}
              {{ $active := eq $childURL $pageURL }}
              <li>
                <a class="dropdown-item {{ if $active }}active{{ end }}" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
                href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{.Pre}}{{ .Name }}{{.Post}}</a>
              </li>
              {{ end }}
            </ul>
          </li>
          {{ else }}
          <li class="nav-item {{ if $active }}active{{ end }}">
            <a class="nav-link" {{if findRE `^http` .URL}}target="_blank" rel="noopener" {{end}}
              href="{{if findRE `^#` .URL}}{{if not $.IsHome}}{{site.BaseURL | relLangURL}}{{end}}{{.URL}}{{else}}{{.URL | relLangURL}}{{end}}">{{.Name}}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

        <div class="navbar-right d-none">
          <div class="btn btn-envato d-flex align-items-center">
            <span class="ms-2">Get Themes</span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->
