.banner,
.header-gap {
  padding-top: 10.5rem;
  &.section-sm {
    padding-top: 10rem;
  }
}

.theme-image {
  box-shadow: 0 2px 7px #eaeaea;
  border-radius: 5px;
  .btn {
    width: 170px;
    margin: 5px;
  }
  img {
    transition: 0.3s;
  }
  .block {
    transition: 0.3s;
    background-color: rgba($dark, 0.4);
    opacity: 0;
  }
  &:hover {
    img {
      transform: scale(1.02);
    }
    .block {
      opacity: 1;
    }
  }
}
